In [3]:
from jupysql_plugin._widgets import FormWidget, TableWidget

FormWidget()

FormWidget()

In [2]:
TableWidget()

TableWidget()

In [1]:
from jupysql_plugin.widgets import ConnectorWidget

ConnectorWidget()

ConnectorWidget()

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%sql SELECT *  FROM (VALUES ('Hello world')) t1 (col1) WHERE 1 = 1

Running query in 'as'

UsageError:
Looks like there is a syntax error in your query.Possible reason:
Did you mean : ["SELECT * FROM (VALUES ('Hello world')) AS t1(col1) WHERE 1 = 1"]


Original error message from DB driver:
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT * FROM (VALUES ('Hello world')) t1 (col1) WHERE 1 = 1]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community